
<!--
<footer class="site-footer">

  <div class="wrapper">
    <section>
		<a href="https://github.com/radiocontrolled" target="_blank"><i class="icon-github"></i></a> &nbsp;
		<a href="https://twitter.com/hey_benjamin" target="_blank"><i class="icon-twitter"></i></a> &nbsp; 
		<a href="http://uk.linkedin.com/pub/alison-benjamin/26/377/8" target="_blank"><i class="icon-linkedin"></i></a> &nbsp;
		<a href="mailto:alison.benjamin@gmail.com"><i class="icon-envelope"></i></a> &nbsp;
		<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="icon-rss"></i></a>
	</section>
  </div>

</footer>
-->